#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

CONFIG_ZMK_BATTERY_REPORTING=y
CONFIG_ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY=y
CONFIG_ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING=y
CONFIG_ZMK_BATTERY_REPORT_INTERVAL=240

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"
      #ifndef VERSION_MACRO
      #endif

        bht: bobs_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <100>;
            bindings = <&kp>, <&kp>;
        };

        dbl_tap_paren: dbl_tap_paren {
            compatible = "zmk,behavior-tap-dance";
            label = "DBL_TAP_PAREN";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;

            tapping-term-ms = <250>;
        };

        dbl_tap_brace: dbl_tap_brace {
            compatible = "zmk,behavior-tap-dance";
            label = "DBL_TAP_BRACE";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp LEFT_BRACE>, <&kp RIGHT_BRACE>;
        };

        dbl_tap_sqr: dbl_tap_sqr {
            compatible = "zmk,behavior-tap-dance";
            label = "DBL_TAP_SQR";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        dbl_tap_tri: dbl_tap_tri {
            compatible = "zmk,behavior-tap-dance";
            label = "DBL_TAP_TRI";
            #binding-cells = <0>;
            bindings = <&kp LESS_THAN>, <&kp GREATER_THAN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Qwerty {
            bindings = <
&kp EQUAL  &kp N1          &kp N2        &kp N3    &kp N4     &kp N5  &tog 1                                                                   &tog 4           &kp N6  &kp N7  &kp N8     &kp N9        &kp N0          &kp MINUS
&kp GRAVE  &kp Q           &kp W         &kp E     &kp R      &kp T   &kp HOME                                                                 &kp PAGE_UP      &kp Y   &kp U   &kp I      &kp O         &kp P           &kp BSLH
&kp ESC    &kp A           &kp S         &kp D     &kp F      &kp G   &kp END           &kp LEFT_ALT    &mo 2      &mo 2  &kp LCTRL            &kp PAGE_DOWN    &kp H   &kp J   &kp K      &kp L         &kp SQT         &kp SEMI
&kp LC(P)  &kp Z           &kp X         &kp C     &kp V      &kp B                                     &to 3      &to 3                                        &kp N   &kp M   &kp COMMA  &kp DOT       &kp FSLH        &kp LS(LC(P))
&kp LGUI   &dbl_tap_paren  &dbl_tap_sqr  &kp LEFT  &kp RIGHT          &bht LSHFT SPACE  &bht LCTRL TAB  &none      &none  &bht LEFT_ALT ENTER  &bht RSHFT BSPC          &kp UP  &kp DOWN   &dbl_tap_tri  &dbl_tap_brace  &kp LEFT_WIN
            >;
        };

        Functions {
            bindings = <
&none   &none   &none           &none    &none    &none       &tog 1                                                          &none  &none  &none  &none  &none  &none  &none
&none   &none   &kp LC(LS(F5))  &kp F10  &kp F11  &kp F8      &none                                                           &none  &none  &none  &none  &none  &none  &none
&kp F1  &kp F2  &kp F3          &kp F4   &kp F5   &kp LS(F5)  &none                  &kp LEFT_ALT    &none      &none  &none  &none  &none  &none  &none  &none  &none  &none
&kp F6  &kp F7  &kp F8          &kp F9   &kp F10  &none                                              &none      &none                &none  &none  &none  &none  &none  &none
&none   &none   &none           &kp F11  &kp F12              &bht LEFT_SHIFT SPACE  &bht LCTRL TAB  &none      &none  &none  &none         &none  &none  &none  &none  &none
            >;
        };

        Management {
            bindings = <
&bootloader  &none         &none         &none         &none         &none            &none                                  &trans                &none  &none  &none  &none  &none  &bootloader
&none        &bl BL_OFF    &bl BL_ON     &bl BL_DEC    &bl BL_INC    &rgb_ug RGB_TOG  &none                                  &none                 &none  &none  &none  &none  &none  &none
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4     &none  &none  &none      &none  &none  &rgb_ug RGB_MEFS_CMD  &none  &none  &none  &none  &none  &none
&none        &none         &none         &none         &none         &none                          &none      &none                               &none  &none  &none  &none  &none  &none
&none        &none         &none         &none         &none                          &none  &none  &none      &none  &none  &none                        &none  &none  &none  &none  &none
            >;
        };

        Colemak-DH {
            bindings = <
&kp EQUAL  &kp N1          &kp N2        &kp N3    &kp N4     &kp N5  &tog 1                                                                   &tog 4           &kp N6  &kp N7  &kp N8     &kp N9        &kp N0          &kp MINUS
&kp GRAVE  &kp Q           &kp W         &kp F     &kp P      &kp B   &kp HOME                                                                 &kp PAGE_UP      &kp J   &kp L   &kp U      &kp Y         &kp SEMI        &kp BSLH
&kp ESC    &kp A           &kp R         &kp S     &kp T      &kp G   &kp END           &kp LEFT_ALT    &mo 2      &mo 2  &kp LCTRL            &kp PAGE_DOWN    &kp M   &kp N   &kp E      &kp I         &kp O           &kp APOS
&kp LC(P)  &kp Z           &kp X         &kp C     &kp D      &kp V                                     &to 0      &to 0                                        &kp K   &kp H   &kp COMMA  &kp DOT       &kp FSLH        &kp LC(LS(P))
&kp LGUI   &dbl_tap_paren  &dbl_tap_sqr  &kp LEFT  &kp RIGHT          &bht LSHFT SPACE  &bht LCTRL TAB  &none      &none  &bht LEFT_ALT ENTER  &bht RSHFT BSPC          &kp UP  &kp DOWN   &dbl_tap_tri  &dbl_tap_brace  &kp LEFT_WIN
            >;
        };

        Gaming {
            bindings = <
&none  &kp GRAVE   &kp NUMBER_1      &kp NUMBER_2       &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                                             &tog 4  &none  &none  &none  &none  &none  &none
&none  &kp ESCAPE  &kp Q             &kp W              &kp E         &kp R         &kp T                                                    &none   &none  &none  &none  &none  &none  &none
&none  &kp LCTRL   &kp A             &kp S              &kp D         &kp F         &kp G         &kp HOME  &kp END            &none  &none  &none   &none  &none  &none  &none  &none  &none
&none  &kp LSHFT   &kp Z             &kp X              &kp C         &kp V                                 &kp PAGE_UP        &none                 &none  &none  &none  &none  &none  &none
&none  &kp H       &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp B                       &kp SPACE     &kp TAB   &kp PAGE_DOWN      &none  &none  &none          &none  &none  &none  &none  &none
            >;
        };
    };
};
